body {
  background-image: url(../assets/pexels-bob-clark-21148._colour_1_blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 85%;
}

// Header Styles

.flexContainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  .flexContainer2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    
    h2 {
      @include subHeading(2.5rem);
      margin: 5px 0 0 0;
    }
  }

  form {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-top: 50px;

    input[type="text"] {
      @include paragraph(1.8rem);
      color: $darkPurple;
      background-color: $grey;
      opacity: 0.7;
      width: 280px;
      height: 50px;
      padding-left: 10px;
      padding-top: 4px;
      border-radius: 2px;
      border: none;
    }

    input[type="text"]::placeholder {
      @include paragraph(1.8rem);
      color: $darkPurple;
    }

    button {
      padding-top: 2px;
      height: 50px;
      width: 90px;
      margin-left: 20px;
      background-color: $violet;
      border: none;
      border-radius: 2px;
      color: $peach;
      font-size: 1.8rem;

      &:hover {
        background-color: $eggplant;
        opacity: 0.8;
        color: white;

      &:active {
        position: relative;
        left: 2px;
        top: 2px;
      }
      }
    }
  }
}

// Main Section Start

// Dynamic Content Styles

ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;

  li {
    width: calc(100% / 4);
    margin-right: 50px;
    height: auto;
    min-width: 200px;
    background-color: $violet;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 25px;
    border-radius: 2px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 5px 5px 35px $eggplant;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }

    h3 {
      @include headingThree(1.8rem);
      opacity: 0.9;
      margin: 0;
      margin: 5px 10px 10px;
    }

    a {
      @include paragraph(1.5rem);
      opacity: 0.9;
      margin: 0 0 10px 10px;
      text-decoration: none;
      cursor: ne-resize;

      &:hover {
        color: white;
      }
    }

    img {
      height: auto;
      min-height: 180px;
      min-width: 180px;
      margin: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}

// Footer Styles

footer {
  min-width: 100%;
  text-align: center;
  background-color: $eggplant;
  height: 35px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;

  p {
    @include paragraph(1.5rem);
    margin: 0;
    padding: 10px 0;
    font-size: 1.4rem;
    color: $grey;
    opacity: 0.7;

    span {
      margin-right: 7px;
    }
  }

  a {
    @include paragraph(1.5rem);
    color: $grey;
    font-size: 1.4rem;
    opacity: 0.7;
    padding-top: 10px;
    margin: 0 5px;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}
