/* Small Desktops */

@media (max-width: 1080px) {
  header {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;

    .flexContainer1 {
      align-items: flex-start;
      width: 50%;
    }
  }

  .artistDisplay {
    display: flex;
    justify-content: center;

    ul {
      flex-wrap: wrap;
      width: 60%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      li {
        margin-right: 0;
      }
    }
  }
}

// Tablets

@media (max-width: 880px) {
  body {
    background-color: $darkPurple;
  }
  main {
    ul {
      li {
        width: 100%;

        &:last-of-type {
          margin-bottom: 40px;
        }
      }
    }
  }
}

// Minor Breakpoint

@media (max-width: 740px) {
  ul {
    margin-bottom: 50px;
  }
}

// Portrait Tablets & Phones

@media (max-width: 580px) {
  
  .flexContainer1 {

    .flexContainer2 {

      align-items: flex-start;
      img {
        width: 80%;
        min-width: 200px;
        align-self: center;
      }

      h2 {
        font-size: 2rem;
        text-align: center;
      }
    }

    form {

      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      
      input[type=text] {
        width: 100%;
        min-width: 150px;
      }
      
      button {
        width: 70%;
        margin: 10px 0 0 0;
        
      }
    }
  }
}
