@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

@mixin subHeading($sizeValue) {
  font-size: $sizeValue;
  color: $grey;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 3rem;
}

@mixin headingThree($sizeValue) {
  font-size: $sizeValue;
  color: $peach;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 2rem;
}

@mixin paragraph($sizeValue) {
  font-size: $sizeValue;
  color: $grey;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  // line-height: 2rem;
}