// Variables
$black: #000000;
$darkPurple: #051a44;
$eggplant: #312c51;
$violet: #48426d;
$lightGrey: #d4d4d4;
$mediumGrey: #44546f;
$darkGrey: #505050;
$grey: #bfbfbf;
$peach: #ffe3d8;

// Imports
@import 'partials/variables';
@import 'partials/setup';
@import 'partials/main';
@import 'partials/mediaQueries';