$black: #000000;
$eggplant: #312c51;
$violet: #48426d;
$darkPurple: #051a44;
$grey: #bbbbbb;
$darkGrey: #505050;
$peach: #ffe3d8;

@import 'partials/variables';
@import 'partials/setup';
@import 'partials/main';
@import 'partials/mediaQueries';